@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body{
    font-family: 'Lato', 'sans-serif';
}
input::placeholder{
  font-size: 13px;
  font-weight: 500;
 text-transform: capitalize;
}
label{
  text-transform: capitalize;
}

/* input:focus{
   padding-left: 10px;
    transition: 0.3s ease-in;
} */